@import url('http://fonts.cdnfonts.com/css/seravek-medium');
@import "variables";

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #1E1E1E;
  overflow: hidden;
}

*:focus {
  outline: 0 !important;
}

h1 {
  color: #CBD736;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.65em;
  margin-bottom: 1.8vh;
  text-transform: uppercase;
  font-weight: 400;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3E3E3E;
  border-radius: 5px;
  border: 1px solid #aaa7a7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}