@import "base";

.app {
  width: 100vw;
  height: 100vh;
  background: url('../images/background.svg') no-repeat center;
  background-size: cover;
  font-size: 16px; // todo
  font-style: normal;
  line-height: 22px; //todo

  &.loading {
    filter: blur(15px);
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 35vw;
  min-width: 240px;
}

* {
  font-family: 'Nunito', sans-serif;
}

.pages {
  display: flex;
  position: fixed;
  font-size: 25px;
  line-height: 27px;
  text-align: center;
  bottom: 0;
  color: #909090;
  font-family: 'Seravek', sans-serif;
  width: 100%;
  justify-content: center;
  font-weight: 500;
  height: 100px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  .page {
    padding: 0 30px;
  }
  .current {
    color: #CBD736;
  }
}