@import "base";

.app {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url('../images/background.svg') no-repeat center;
  background-size: cover;
  font-family: 'Nunito', sans-serif;
  font-size: 16px; // todo
  font-style: normal;
  line-height: 22px; //todo

  &.loading {
    filter: blur(15px);
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 80%;
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  .loading-image {
    border: 2px solid #606060;
    box-sizing: border-box;
    border-radius: 8px;
    background: linear-gradient(#14ffe93d, #ffeb3b40, #ff00e01f, #53d41500, #3013ca26, #e017173b);
    animation: rotate 1s linear infinite;
    box-shadow: 0 0 50px #ff00e08a;
    max-width: 80%;
  }

  .loading-text {
    font-size: 24px;
    line-height: 33px;
    color: $white;
    margin-top: 36px;
  }
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}