button {
  background: transparent;
  border: 2px solid #FFF;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  font-weight: 700;
  height: 4.5vh;
  min-height: 42px;
  min-width: 84px;
  width: 6vw;
}