.character-card {
  background: #1B1B1B;
  border: 2px solid #606060;
  border-radius: 8px;
  box-shadow: 0px 8px 5px 0px #000;
  box-sizing: border-box;
  height: 224px;
  overflow: hidden;
  position: relative;
  width: 224px;
  cursor: pointer;

  &:hover {
    border: 2px solid #CBD736;
    box-shadow: 0px 0px 0px 3px #C9D636, 0px 0px 5px 4px #C9D636, inset 0px 0px 0px 1px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
  }

  &.expanded {
    height: 173px;
    width: 178px;

    &:hover {
      border: none;
      box-shadow: none;
    }
  }

  @media (min-width: 600px) {
    &.expanded {
      height: 72.5vh;
      width: 28vw;
    }
  }

  .character-image-wrapper {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;

      &.grayscale {
        filter: grayscale(100%);
      }
    }
  }

  .character-info {
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    box-sizing: border-box;
    color: #FFF;
    display: flex;
    flex-direction: column;
    font-family: 'Seravek', sans-serif;
    height: 55px;
    justify-content: center;
    padding: 7px 13px;
    position: absolute;
    width: 100%;

    .name {
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
    }

    .species {
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
    }
  }
}