.characters-list {
  display: grid;
  grid-gap: 24px;
  grid-template-rows: repeat(6, min-content);
  height: 63vh;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
}


@media (min-width: 600px) {
  .characters-list{ grid-template-columns: repeat(2, min-content); }
}

@media (min-width: 900px) {
  .characters-list{ grid-template-columns: repeat(3, min-content); }
}

@media (min-width: 1200px) {
  .characters-list{ grid-template-columns: repeat(4, min-content); }
}




