.empty-state {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25%;
  text-align: center;
  width: 100%;

  .empty-image {
    width: 32vmin;

    img {
      width: inherit;
    }
  }

  .empty-title {
    color: #FFFFFF;
    font-family: 'Seravek', sans-serif;
    font-size: 3vmax;
    font-weight: bold;
    line-height: 3vmax;
    margin-bottom: 3vh;
    margin-top: 5vh;
  }

  .empty-subtitle {
    color: #FFFFFF;
    font-family: 'Seravek', sans-serif;
    font-size: 2vmax;
    line-height: 3vmax;
  }

  @media (min-width: 600px) {
    .empty-title {
      font-size: 2vmax;
      line-height: 2vmax;
    }

    .empty-subtitle {
      font-size: 1.5vmax;
      line-height: 2vmax;
    }

    .empty-image {
      width: 25vmin;
    }
  }
}