.pages {
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  font-family: 'Seravek', sans-serif;
  height: 7vh;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 100%;

  .page {
    border: none;
    color: #909090;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    max-width: 12vw;
    width: 65px;

    &:hover {
      color: #FFF;
    }
  }
  .current {
    color: #CBD736;
  }


  .arrows {
    align-items: center;
    border: none;
    color: #3E3E3E;
    cursor: pointer;
    display: flex;
    font-size: 35px;
    min-width: auto;
    padding: 0;
    width: auto;

    &:hover {
      color: #FFF;
    }
  }
}