@import "variables";

.pages {
  display: flex;
  position: fixed;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  bottom: 0;
  color: #909090;
  font-family: 'Seravek', sans-serif;
  width: 100%;
  font-weight: 500;
  height: 7vh;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  .page {
    width: 65px;
    max-width: 12vw;
    cursor: pointer;

    &:hover {
      color: #FFF;
    }
  }
  .current {
    color: #CBD736;
  }


  .arrows {
    display: flex;
    align-items: center;
    color: #3E3E3E;
    font-size: 35px;
    cursor: pointer;
    border: none;
    padding: 0;
    width: auto;
    min-width: auto;

    &:hover {
      color: #FFF;
    }
  }
}