.search-wrapper {
  display: flex;
  height: 30%;
  justify-content: center;
  max-width: 80vw;
  min-width: 224px;

  .search-input {
    background: transparent;
    border: 2px solid #FFF;
    border-radius: 8px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-weight: bold;
    height: 4.5vh;
    margin-right: .5vw;
    min-height: 42px;
    min-width: 110px;
    padding: 10px 14px; //todo
    width: 15vw;

    &::placeholder {
      color: #9F9F9F;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  .search-button {
    margin-left: .5vw;
  }
}