@import "variables";
.search-wrapper {
  max-width: 80%;
  min-width: 224px;
  display: flex;
  justify-content: center;
  margin-bottom: 8vh;

  .search-input {
    width: 13.5vw;
    min-width: 164px;
    min-height: 42px;
    height: 4.5vh;
    border: 2px solid $white;
    box-sizing: border-box;
    border-radius: 8px;
    background: transparent;
    margin-right: .5vw;
    padding: 10px 14px; //todo
    color: #FFFFFF;
    font-weight: bold;

    &::placeholder {
      color: $placeholder-gray;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  .search-button {
    margin-left: .5vw;
  }
}