.notification-container {
  animation: toast-in-right .7s;
  box-sizing: border-box;
  font-size: 16px;
  position: fixed;
  right: 12px;
  top: 12px;
  transition: transform .6s ease-in-out;
  z-index: 999999;
}

.notification {
  align-items: flex-start;
  animation: toast-in-right .7s;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid #606060;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(4, 4, 4);
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70vw;
  opacity: .9;
  overflow: hidden;
  padding: 20px 15px 10px 10px;
  transition: transform .6s ease-in-out;
  width: 365px;
}

.notification:hover {
  box-shadow: 0 0 5px #fff;
  cursor: pointer;
  opacity: 1;
}

.notification-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  margin-top: 0;

}

.notification-message {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);

  }
  to {
    transform: translateX(0);
  }
}